<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/styles.css"/>
</head>
<body>
  <header>
    <a href="/"><h1 class="odc-logo">otherdimensional club</h1></a>
  </header>
  <nav>
    <ul>
    {%- for n in nav -%}
      <li><a href="/{{ n.slug }}">{{ n.name }}</a></li>
    {%- endfor -%}
    </ul>
  </nav
  <main>
    {{ content | safe }}
  </main>
  <small>odc is made by {{ site.author }} - &copy; {{ site.copyrightYear }}</small>
</body>
</html>
