/* */
/* VARIABLES */
/* */

:root {
    --color-bg: hsla(317, 100%, 94%, 1);
    --color-light-gray: #586e75;
    --color-logo: pink;
    --color-accent-1: aquamarine;
    --color-accent-2: #401f56;
    --color-accent-3: hsla(176, 95%, 26%, 1);
    --color-bg-lightened: hsla(317, 100%, 97%, 1);
    --font-mono: monaco,Consolas,Lucida Console,monospace;
}

/* */
/* GLOBAL */
/* */

html {
    margin: 0;
    padding: 0;
    max-width: 70ch;
    /* larger spacing on larger screens, very small spacing on tiny screens */
    padding: calc(1vmin + .5rem);
    /* shorthand for margin-left/margin-right */
    margin-inline: auto;
    /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
    font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
    /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
    font-family: system-ui;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
    text-align: left;
    border-bottom: 1px solid var(--color-light-gray);
}


.odc-logo {
    color: var(--color-logo);
    font-weight: 700;
    letter-spacing: -0.02em;
    text-shadow:
        1px 0 0 rgb(58, 58, 58),
        0 -1px 0 rgb(58, 58, 58),
        0 1px 0 rgb(58, 58, 58),
        -1px 0 0 rgb(58, 58, 58),
        5px 0.3vw 0px hsla(42, 86%, 63%, 0.7),
        10px 0.6vw 0px hsla(272, 91%, 65%, 0.7),
        15px 0.9vw 0px hsla(355, 67%, 48%, 0.7),
        20px 1.2vw 0px hsla(176, 94%, 33%, 0.6);
}


nav {
    font-family: var(--font-mono);
    font-size: 1rem;
    display: flex;
    /* text-transform: uppercase; */
}


nav ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--color-accent-2);
    padding: .2em 1em .2em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.4em 0;
    padding: 0;
}

video {
    margin-bottom: 10px;
}

pre {
    tab-size: 2;
    background: #57686c;
    color: var(--color-bg-lightened);
    padding: 20px;
    white-space: pre-wrap;
}

/* */
/* UTILITIES */
/* */
div.shadow-card {
    background-color: var(--color-bg-lightened);
    padding: 12px;
    box-shadow: 6px 6px 0px black;
    border: 1px solid black;
    box-sizing: border-box;
}

/* */
/* SECTIONS */
/* */

div.feed img {
    background-color: var(--color-bg-lightened);
    padding: 12px;
    box-shadow: 6px 6px 0px black;
    border: 1px solid black;
    box-sizing: border-box;
}

div.feed-item .feed-item-title {
    margin-bottom: 2px;
}

div.feed-item .feed-item-title a {
    color: var(--color-accent-3);
}


p.feed-item-date {
    margin: 2px 0;
    padding: 0;
    color: var(--color-light-gray);
    font-size: 1.2rem;
}

div.feed-item-page img {
    background-color: var(--color-bg-lightened);
    padding: 12px;
    box-shadow: 6px 6px 0px black;
    border: 1px solid black;
    box-sizing: border-box;
}

div.creations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-flow: row dense;
}

div.creations-item {
}

div.creations img {
    display: block;
    background-size: cover;
}

div.creations .creations-item-title {
    color: var(--color-accent-3);
    margin: 12px 0 0 0;
    font-weight: bold;
}

div.creations .creations-item-description {
    color: var(--color-light-gray);
    margin: 2px 0;
}

div.creations a {
    color: var(--color-accent-2);
}

span.creations-item-what {
    color: var(--color-accent-2);
}

span.creations-item-who {
    color: var(--color-accent-1);
}

/*hr.item-separator {*/
    /*margin: 10px;*/
/*}*/

/*div.feed-item {*/
    /*border-bottom: 1px solid rgb(207, 207, 207);*/
/*}*/

/*div.feed-item h1, h2, h3, h4, h5 {*/
    /*font-size: 1.4rem;*/
/*}*/
