---
layout: base.njk
title: creations
---

<h2>finished creations..</h2>

<hr />

<div class="creations">
{%- for d in creations -%}
    <div class="creations-item shadow-card">
        <a href="{{ d.link }}">
            <img src="/assets/{{ d.imgPath }}" />
            <p class="creations-item-title">{{ d.title }}</p>
            <p class="creations-item-description">
            <span class="creations-item-what">
                {{ d.what }}
            </span>
            by
            <span class="creations-item-who">
                {{ d.who }}:
            </span>
            {{ d.description }}
            </p>
        </a>
    </div>
{%- endfor -%}
</div>

