---
layout: base.njk
---

<p>Find us elsewhere, if you wish.</p>

<p>Though all the stuff there shows up here first.</p>

<ul>
    <li><a href="/">Bandcamp</a></li>
    <li><a href="/">TikTok</a></li>
    <li><a href="/">Insta</a></li>
</ul>
