---
layout: base.njk
---

<p>Find us elsewhere, if you wish.</p>

<ul>
    <li><a href="https://discatur.bandcamp.com/album/discatur-live-container-7-11">Bandcamp</a></li>
    <li><a href="https://www.tiktok.com/@otherdimensionalclub">TikTok</a></li>
    <li><a href="https://www.instagram.com/otherdimensionalclub/">Insta</a></li>
    <li>email: odc -at- otherdimensional -dot- club</li>
</ul>
