---
layout: base.njk
---

<p>
Hello! Welcome to otherdimensional club. We're really happy to have you.
</p>

<p>
We are a group of transmultiversal travelers on the lookout for what is known we
suppose as consciousness. (Perhaps 精神 is more accurate.) We define as conscious
anything that makes music, which we in turn define as the experience of
rhythmic and cyclical togetherness. <span class="also">Or/also, we are humans
(<a href="https://nsnnd.com">Nikhil S</a>) who make music and art under various
monikers/identities and want to
share it with you.</span>
</p>


<p>
Here, you may observe the <a href="feed">feed</a> of our observations, see what we have <a href="creations">created</a>, and
read our misc <a href="notes">notes</a> and <a href="thoughts">thoughts</a>.
</p>

<div class="shadow-card">
  <img src="/assets/2023/plants_making_music.png" />
</div>
