---
layout: base.njk
---

<p>
Hello! Welcome to otherdimensional club. We're really happy to have you.
</p>

<p>
We are a group of transmultiversal travelers on the lookout for what is known we
suppose as consciousness. (Perhaps 精神 is more accurate.) We define as conscious
anything that makes music, which we in turn define as the experience of
rhythmic and cyclical togetherness.
</p>

<p>
Here, you may observe the <a href="feed">feed</a> of our observations and
whims, see what we have <a href="creations">created</a>, and (coming soon)
read our <a href="notes">notes</a> on what we've seen.
</p>

<div class="shadow-card">
  <img src="/assets/2023/plants_making_music.png" />
</div>
