---
layout: base.njk
---

<h2>Notes coming soon~</h2>

<table>
{%- for note in collections.notes -%}
    <tr>
        <td><a href="{{ note.url }}">{{ note.data.title }}</a></td>
    </tr>
{%- endfor -%}
</table>
